@use "variables" as *;

.jobs {
  margin: 40px 20px;

  &__header {

  }

  &__list {
    margin: 0 0 0 5px;
    padding: 0 0 0 15px;
    list-style: none;
    border-left: 2px solid $secondaryColor;

    @media (min-width: $breakpoint) {
      border-left-color: $primaryColor;
    }

    &-item {
      &-title {

      }

      &-desc {

      }

      &:before {
        margin: 20px 0 0 -21px;
        position: absolute;
        background: $secondaryColor;
        mask-image: url("/img/icons/circle.svg");
        content: '';
        display: block;
        width: 10px;
        height: 10px;

        @media (min-width: $breakpoint) {
          background-color: $primaryColor;
        }
      }
    }
  }
}