@use 'variables' as *;

.menu {
  width: 100%;
  max-width: 1000px;
  background-color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  &__header {
    h1 {
      margin: 0;
      padding: 0;
    }
  }

  &__nav {
    &-button {
      display: block;

      @media (min-width: $breakpoint) {
        display: none;
      }
    }

    &-list {
      display: none;
      position: absolute;
      left: 0;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      background-color: black;
      color: white;

      @media (min-width: $breakpoint) {
        display: flex;
        flex-direction: row;
        position: static;
      }

      &--active {
        display: block;
      }

      &-item {
        border-bottom: 1px solid white;
        min-height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          color: white;
          padding: 10px;
          text-decoration: none;
          height: 100%;
          width: 100%;

          &:after {
            content: '>';

            @media (min-width: $breakpoint) {
              display: none;
            }
          }
        }
      }
    }
  }
}
