@use 'variables' as *;

.menu {
  width: 100%;
  max-width: 1000px;
  background-color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  &__header {
  }

  &__nav {
    &-button {
      display: block;

      @media (min-width: $breakpoint) {
        display: none;
      }
    }

    &-list {
      display: none;

      @media (min-width: $breakpoint) {
        display: block;
      }

      &--active {
        display: block;
      }
    }
  }
}
