:root {
    font-family: "Ubuntu Sans", sans-serif;
    font-size: 87.5%;
}

h1 {
    font-size: 1.5rem;
}

h2, h3, h4, h5, h6 {
    font-size: 1.25rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*body > header*/
.menu {
    width: 100%;
    max-width: 1000px;
    background-color: red;
    /*margin: auto;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.menu__nav-button {
    display: block;
}

.menu__nav-items {
    display: none;
}

main {
    background-color: #eee;
    width: 100%;
    max-width: 1000px;
}
